---
Language: Cpp
BasedOnStyle: LLVM

# Indentation & Spacing
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
IndentPPDirectives: AfterHash

# Alignment
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: Consecutive
PointerAlignment: Right

# Spaces inside brackets and parentheses (Forbidden by 42 Norm)
SpacesInParentheses: false
SpaceInEmptyParentheses: false
SpacesInSquareBrackets: false

# Spaces before operators and keywords
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParens: ControlStatements

# Function and Argument Layout
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

# Braces & Formatting (Functions on new line, control blocks attached)
BreakBeforeBraces: Linux

# Short Statements (Strictly forbidden by 42 Norm)
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Line limits
MaxEmptyLinesToKeep: 1
ColumnLimit: 80
AlignEscapedNewlines: Right
SortIncludes: true
...
